mat-toolbar {
  border-bottom: #491EB0 2px solid;
  background: white;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem 0 2.5rem;
}

img {
  cursor: pointer;
}

a {
  color: #491EB0;
  text-decoration: none;
  padding-left: 1rem;
  cursor: pointer;

  &:hover {
    border-bottom: #ffd740 2px solid;
  }
}
