<div class="container">
  <h1>SIGN IN</h1>
  <form [formGroup]="loginForm">
    <div class="col">
      <mat-card>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput/>
          <mat-error *ngIf="email?.errors?.['email']">
            The email address isn't valid.
          </mat-error>
          <mat-error *ngIf="email?.errors?.['required']">
            The email address is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input [type]="showPassword ? 'password' : 'text'" formControlName="password" matInput/>
          <button (click)="showPassword = !showPassword" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="showPassword"
                  mat-icon-button matSuffix>
            <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password?.errors?.['minLength']">
            The password must be at least 8 characters long.
          </mat-error>
          <mat-error *ngIf="password?.errors?.['required']">
            The password is required.
          </mat-error>
        </mat-form-field>
        <button (click)="submitLoginForm()" [disabled]="loginForm.invalid" color="primary" mat-flat-button
                type="submit">Login
        </button>
      </mat-card>
    </div>
  </form>
  <p>Already have an account?</p>
  <a [routerLink]="['/auth/register']" color="primary" mat-button>SIGN UP</a>
</div>
