<nb-layout>

  <nb-layout-header fixed>App Name</nb-layout-header>
  <nb-sidebar> Sidebar Content</nb-sidebar>

  <nb-layout-column>
    <div class="col">
      <nb-stepper orientation="horizontal">
        <nb-step [label]="labelOne" class="col">
          <ng-template #labelOne>First step</ng-template>
          <h4>Register</h4>
          <nb-form-field>
            <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
            <input nbInput type="text" placeholder="E-mail">
          </nb-form-field>
          <nb-form-field>
            <input [type]="getInputType()" placeholder="Password" nbInput>
            <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
              <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                       pack="eva"
                       [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
              </nb-icon>
            </button>
          </nb-form-field>
          <div class="row">
            <button nbButton disabled nbStepperPrevious>prev</button>
            <button nbButton nbStepperNext>next</button>
          </div>
        </nb-step>
        <nb-step [label]="labelTwo" class="col">
          <div class="col">
            <ng-template #labelTwo>Second step</ng-template>
            <h4>Details time</h4>
            <input nbInput type="text" placeholder="Username">
            <input nbInput type="text" placeholder="Initial Sum">
            <button nbButton>Sign up</button>
            <div class="row">
              <button nbButton nbStepperPrevious>prev</button>
              <button nbButton nbStepperNext>next</button>
            </div>
          </div>
        </nb-step>
        <nb-step label="Third step" class="col">
          <h4>You're in!</h4>
          <p class="lorem">
            Thank you for choosing us!
          </p>
          <div class="row">
            <button nbButton nbStepperPrevious>prev</button>
            <button nbButton nbStepperNext>next</button>
          </div>
        </nb-step>
      </nb-stepper>
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>Welcome!</nb-layout-footer>
</nb-layout>

<router-outlet>
</router-outlet>
