.col {
  display: flex;
  flex-direction: column;
  max-width: 50%;

    & > input {
      margin-bottom: 1rem;
    }
}

.row {
  display: flex;
  max-width: 50%;

  & > button {
    margin-right: 1rem;
    margin-top: 1rem;
  }
}
